$font-default:      'Helvetica', sans-serif;

$color-black:         #000000;
$mine-shaft:          #333333;
$color-white:         #ffffff;
$color-silver:        #cccccc;
$color-limed-spruce:  #343D46;
$color-blue-bayoux:   #46656b;
$color-di-seria:      #f3b700;
