select {
  display: block;
  color: $color-black;
  background-color: $color-white;
  height: 25px;
  border-radius: 2px;
  -webkit-border-radius: 0;
	border: 0;
}

button {
  height: 25px;
  cursor: pointer;
  padding: 0 15px;
  border: 0;
  border-radius: 2px;
  color: $color-white;
  background: $color-blue-bayoux;
  transition: 0.5s background;
  &:hover {
    background: lighten($color-blue-bayoux, 5%);
  }
}

input[type="text"] {
  height: 25px;
  color: $color-black;
  background-color: $color-white;
  border-radius: 2px;
  border: solid 1px $color-silver;
}