html, body {
  min-width: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  font-size: 14px;
  color: $color-white;
  font-family: $font-default;
  background: $color-limed-spruce;
}

button, select, input {
  outline: 0;
}
