#app {
  height: 100%;
  .page {
    height: 100%;
    display: flex;
    flex-direction: column;
    .container {
      position: relative;
      float: left;
      &-search {
        margin-right: 20px;
        overflow: hidden;
      }
    }
    .controls {
      height: 25px;
      padding: 10px 15px;
      border-bottom: solid 1px lighten($color-blue-bayoux, 3%);
      background: $mine-shaft;
      flex-grow: 0;
      flex-shrink: 0;
      z-index: 3;
      .iex-logo {
        float: left;
        margin-right: 50px;
        transition: 0.5s opacity;
        &-pointed{
          cursor: pointer;
          &:hover {
            opacity: 0.8;
          }
        }
      }
      &__btn, &__select {
        float: left;
        margin-right: 20px;
      }
      &__btn {
        margin-left: 20px;
        &-search {
          position: absolute;
          right: 0;
          margin: 0;
          height: 28px;
          border-radius: 0;
        }
      }
      &__text {
        float: left;
        width: 150px;
        padding: 0 10px;
        &-search {
          padding-right: 60px;
        }
      }
      &__separator {
        float: left;
        height: 25px;
        border-left: solid 1px $color-silver;
      }
    }
    .company {
      position: relative;
      padding: 30px 15px;
      .error {
        display: block;
        text-align: center;
      }
      &-detail {
        text-shadow: 1px 2px 0px rgb(66, 77, 88);
        margin-bottom: 30px;
        max-width: 700px;
        strong {
          text-shadow: none;
          display: block;
          margin-bottom: 10px;
          color: $color-di-seria;
        }
      }
    }
  }
}